/* local style */

a {
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 1px 0;
  color: green;
  cursor: pointer;
  text-decoration-line: none;
}

a:focus,
a:hover {
  border-color: green;
}
