/* imports */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/regular.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/solid.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.2/katex.min.css");

@import "style-highlight.css";
@import "style-markdown.css";
@import "style-search.css";

/* color schemes */

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
                 sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
                           "Liberation Mono", monospace;
  --font-size: 16px;
  --icon-size: 20px;
  --max-width: 1000px;
  --transition-duration: 0.5s;
}

:root,
.light {
  --background-color: #ffffff;
  --background-color-alt: #f3f5f7;
  --color-scheme: light;
  --font-color: #24292e;
  --link-color: #0969da;
}

.dark {
  --background-color: #0d1117;
  --background-color-alt: #161b22;
  --color-scheme: dark;
  --font-color: #c9d1d9;
  --link-color: #539bf5;
}

.dimmed {
  --background-color: #22272e;
  --background-color-alt: #2d333b;
  --color-scheme: dark;
  --font-color: #adbac7;
  --link-color: #539bf5;
}

/* general */

* {
  box-sizing: border-box;
  color-scheme: var(--color-scheme);
  scroll-behavior: smooth;
  scroll-margin-top: 1rem;
}

*,
*:focus,
*:focus:before,
*:focus:after,
*:hover,
*:hover:before,
*:hover:after,
*::before,
*::after {
  transition-duration: var(--transition-duration);
  transition-property: background-color,
                       border-color,
                       color,
                       filter,
                       font-weight,
                       margin,
                       opacity,
                       text-decoration-color;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 2rem;
  margin: 0;
}

/* scroll indicator */

#scroller {
  background-color: var(--link-color);
  height: 1px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 10;
}

/* components */

nav {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  height: 4rem;
  margin: 5px auto 0 auto;
  max-width: var(--max-width);
}

main {
  position: relative;
  margin: 0 5px;
}

aside {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  margin: 0 0 0 -100vw;
  min-height: calc(100vh - 4rem - 6px);
  opacity: 0.9;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  width: 100%;
  z-index: 10;
}

article > *,
aside > * {
  margin: 1rem auto;
  max-width: var(--max-width);
  width: 100%;
}

article > div,
aside > div {
  padding: 0 1rem;
}

article > hr,
aside > hr {
  flex-grow: 1;
}

/* vanilla buttons */

.button {
  border: 0;
  border-radius: calc(var(--icon-size) + 1rem);
  color: var(--font-color);
  cursor: pointer;
  padding: 1rem;
}

.button:hover {
  background-color: var(--background-color-alt);
}

.button::before {
  display: inline-block;
  text-align: center;
  width: var(--icon-size);
}

.button.repo::before,
.button.reset::before,
.button.search::before,
.button.sidebar::before,
.button.theme::before {
  font-size: var(--icon-size);
  font-weight: 900;
  width: 2rem; /* same as line-height */
}

.button.repo::before {
  content: "\f09b";
  font-family: "Font Awesome 6 Brands";
}

.button.reset::before {
  content: "\f00d";
  font-family: "Font Awesome 6 Free";
}

.button.search::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
}

.button.sidebar::before {
  content: "\f0ca";
  font-family: "Font Awesome 6 Free";
}

.button.theme::before {
  content: "\f042";
  font-family: "Font Awesome 6 Free";
}

/* keyboard shortcuts */

.keys {
  display: none;
  flex-wrap: wrap;
  font-size: 80%;
  gap: 1.5rem;
  justify-content: center;
  max-width: var(--max-width);
}

/* logo */

.logo {
  flex-grow: 2;
  text-align: center;
}

/* menu */

.menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.menu > div:not(:empty) {
  flex-grow: 2;
  min-width: calc(50% - 1.5rem);
}

.menu > div:not(:empty):before {
  display: block;
  font-variant: small-caps;
  margin: 0 0 1rem 0;
  text-transform: lowercase;
}

.menu > div:first-child:before {
  content: "chapters";
}

.menu > div:last-child:not(:empty):before {
  content: "contents";
}

.menu > div:empty {
  content: "";
}

.menu .active {
  color: var(--link-color);
}

/* preceding/following content */

.prev-next {
  display: flex;
  flex-direction: column;
}

#prev:not(:empty),
#next:not(:empty) {
  background-color: var(--background-color-alt);
  border-color: var(--background-color);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: var(--font-color);
  display: block;
  padding: 1rem;
}

#prev {
  text-align: left;
}

#next {
  text-align: right;
}

#prev:hover,
#next:hover {
  border-color: var(--link-color);
}

#prev::before,
#next::after {
  color: var(--link-color);
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

#prev:not(:empty):before {
  content: "\f060";
  margin: 0 1rem 0 0;
}

#next:not(:empty):after {
  content: "\f061";
  margin: 0 0 0 1rem;
}

/* some low-resolution/mobile style tweaks
 * meaning all the css around here is mobile-first */

@media (min-width:1025px) {
  .keys {
    display: flex;
  }

  .menu,
  .prev-next {
    flex-direction: row;
  }
}

/* utils */

.flex-spacer {
  flex-grow: 2;
}
