/* general */

:root {
  --mermaid-font-family: var(--font-family);
}

div.mermaid * {
  font-family: var(--mermaid-font-family);
  font-size: 1rem;
}

div.mermaid svg {
  display: block;
  margin: 0 auto;
  overflow: auto;
}
