/* imports */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/regular.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.0/katex.min.css");

@import "style-highlight.css";
@import "style-markdown.css";
@import "style-mermaid.css";

/* color schemes */

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-monospace: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

:root,
.light {
  --background-color: #ffffff;
  --background-color-alt: #f6f8fa;
  --font-color: #24292e;
  --link-color: #0969da;
}

.dark {
  --background-color: #0d1117;
  --background-color-alt: #161b22;
  --font-color: #c9d1d9;
  --link-color: #539bf5;
}

.dimmed {
  --background-color: #22272e;
  --background-color-alt: #2d333b;
  --font-color: #adbac7;
  --link-color: #539bf5;
}

/* general */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
}
