/* imports */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/regular.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/solid.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.2/katex.min.css");

@import "style-highlight.css";
@import "style-markdown.css";
@import "style-mermaid.css";
@import "style-search.css";

/* color schemes */

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
                 sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
                           "Liberation Mono", monospace;
  --font-size: 16px;
  --icon-size: 20px;
  --transition-duration: 0.5s;
}

:root,
.light {
  --background-color: #ffffff;
  --background-color-alt: #f3f5f7;
  --color-scheme: light;
  --font-color: #24292e;
  --link-color: #0969da;
}

.dark {
  --background-color: #0d1117;
  --background-color-alt: #161b22;
  --color-scheme: dark;
  --font-color: #c9d1d9;
  --link-color: #539bf5;
}

.dimmed {
  --background-color: #22272e;
  --background-color-alt: #2d333b;
  --color-scheme: dark;
  --font-color: #adbac7;
  --link-color: #539bf5;
}

/* general */

* {
  box-sizing: border-box;
  color-scheme: var(--color-scheme);
  scroll-behavior: smooth;
  scroll-margin-top: 1rem;
}

*,
*:focus,
*:focus:before,
*:focus:after,
*:hover,
*:hover:before,
*:hover:after,
*::before,
*::after {
  transition-duration: var(--transition-duration);
  transition-property: background-color,
                       border-color,
                       color,
                       filter,
                       margin,
                       opacity,
                       text-decoration-color;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 2rem;
  margin: 0;
}

/* scroll indicator */

#scroller {
  background-color: var(--link-color);
  height: 1px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 10;
}

/* components */

nav {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  height: 4rem;
  margin: 5px 5px 0 5px;
}

main {
  position: relative;
  margin: 0 5px;
}

aside {
  background-color: var(--background-color);
  gap: 1rem;
  margin: 0 0 0 -100vw;
  min-height: calc(100vh - 4rem - 6px);
  opacity: 0.9;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  width: 100%;
  z-index: 10;
}

aside > div {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
}

article {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
}

/* vanilla buttons */

.button {
  border: 0;
  border-radius: calc(var(--icon-size) + 1rem);
  color: var(--font-color);
  cursor: pointer;
  padding: 1rem;
}

.button:hover {
  background-color: var(--background-color-alt);
}

.button::before {
  display: inline-block;
  text-align: center;
  width: var(--icon-size);
}

.button.home::before,
.button.repo::before,
.button.reset::before,
.button.search::before,
.button.sidebar::before,
.button.theme::before {
  font-size: var(--icon-size);
  font-weight: 900;
  width: 2rem; /* same as line-height */
}

.button.home::before {
  content: "\f3c5";
  font-family: "Font Awesome 6 Free";
}

.button.repo::before {
  content: "\f09b";
  font-family: "Font Awesome 6 Brands";
}

.button.reset::before {
  content: "\f00d";
  font-family: "Font Awesome 6 Free";
}

.button.search::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
}

.button.sidebar::before {
  content: "\f0c9";
  font-family: "Font Awesome 6 Free";
}

.button.theme::before {
  content: "\f042";
  font-family: "Font Awesome 6 Free";
}

/* keyboard shortcuts */

.keys {
  display: flex;
  font-size: 80%;
  gap: 1.5rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

/* utils */

.flex-spacer {
  flex-grow: 2;
}
