/* blockquotes */

blockquote {
  border-color: var(--link-color);
  border-style: solid;
  border-width: 0 0 0 3px;
  margin: 0 0 1rem 0;
  padding: 0 1rem;
}

blockquote > p {
  display: inline-block;
  font-style: italic;
  margin: 0;
  padding: 0;
}

blockquote > p:after,
blockquote > p:before {
  color: var(--link-color);
  font-weight: bold;
}

blockquote > p:after {
  content: ' "';
}

blockquote > p:before {
  content: '" ';
}

/* code */

code,
pre {
  background-color: var(--background-color-alt);
  border-radius: 5px;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
  font-size: 98%;
}

code {
  padding: 0.2rem 0.4rem;
}

pre {
  line-height: 1.5rem;
  overflow: auto;
  padding: 0.3rem 0.6rem;
}

pre > code {
  padding: 0;
}

.hljs {
  background: none; /* due to some weird decisions in the official stylesheet */
}

/* details */

details {
  border: 1px solid var(--background-color-alt);
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
}

details > summary {
  cursor: pointer;
  font-weight: bold;
  list-style-type: "";
}

details > summary::before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5rem;
}

details[open] > summary::before {
  content: "\f078";
}

details > summary:hover:before,
details[open] > summary::before {
  color: var(--link-color);
}

/* emojis */

.gemoji {
  height: 1.5rem;
}

/* equations */

body {
  counter-reset: eqn;
}

.katex {
  width: 100%;
}

span.katex-display {
  align-items: center;
  display: flex;
}

span.katex-display::after {
  color: var(--font-color);
  content: "[" counter(eqn) "]";
  counter-increment: eqn;
  padding: 0 0 0 2rem;
}

span.katex-display:hover:after {
  color: var(--link-color);
}

/* footnotes */

.footnote {
  font-size: 90%;
  line-height: 1rem;
}

.footnote hr {
  border-color: var(--background-color-alt);
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: 0;
  width: 50%;
}

.footnote li:first-child {
  margin-top: 1.5rem;
}

.footnote .footnote-backref::after {
  content: "\f30c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* links */

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* tables */

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table thead tr th,
table tbody tr td {
  padding: 0 1rem;
}

table thead tr th,
table tbody tr:last-child td {
  border-color: var(--font-color);
  border-style: solid;
  border-width: 0 0 1px 0;
}

table tbody tr:nth-child(odd) {
  background-color: var(--background-color-alt);
}

/* titles */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 200%;
  padding: 4rem 0 1rem 0;
}

h2 {
  font-size: 150%;
  padding: 2rem 0 0 0;
}

h3 {
  font-size: 135%;
}

h4 {
  font-size: 115%;
}

h5,
h6 {
  font-size: 100%;
}

h6 {
  font-weight: normal;
}
