#search-bar {
  background-color: var(--background-color-alt);
  border: 0;
  border-radius: 5px;
  display: none;
  padding: 1rem;
  width: 100%;
}

#search-input {
  background-color: var(--background-color-alt);
  border-color: var(--font-color);
  border-style: solid;
  border-width: 0 0 1px 0;
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 2rem;
  outline: none;
  padding: 0;
}

#search-input::placeholder {
  color: var(--font-color);
  opacity: 0.25;
}

#search-output {
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-output li {
  border-color: var(--background-color);
  border-style: solid;
  border-width: 1px 0 0 0;
  padding: 0.5rem 0;
}

#search-output li:first-child {
  margin: 1rem 0 0 0;
}

#search-output li:last-child {
  border-width: 1px 0;
}

#search-output a {
  color: var(--font-color);
}

#search-output li a div::before,
#search-output li a div::after {
  color: var(--link-color);
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

#search-output li a div::before {
  content: "\f0da";
  padding: 0 0.5rem 0 0;
}

#search-output li a div::after {
  content: "\f08e";
  font-size: 80%;
  padding: 0 0 0 0.5rem;
}

mark {
  color: var(--link-color);
  font-weight: bold;
}
