/* variables */

:root {
  --reading-zone-width: 800px;
  --reading-zone-height: 3rem;
}

/* hide scrollbars, while keeping the content scrollable */

* {
  -ms-overflow-style: none;  /* edge, ie 10+ */
}

* {
  scrollbar-width: none;  /* firefox */
}

*::-webkit-scrollbar {
  display: none; /* chrome, safari, opera */
}

/* general */

* {
  scroll-margin-top: 1rem;
}

*,
*::before,
*::after,
*:hover,
*:hover:before,
*:hover:after {
  transition-duration: 1s;
  transition-property: color, opacity, text-decoration-color;
}

body {
  margin: 0;
}

main {
  margin: 1px auto 0 auto;
  max-width: var(--reading-zone-width);
  padding: var(--reading-zone-height) 0.5rem;
  position: relative;
  text-align: justify;
  text-justify: inter-word;
}

/* scroll indicator */

#scroll-indicator {
  background-color: var(--link-color);
  height: 1px;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 10;
}

/* general style for the header and buttons */

.header-container,
.button-container {
  align-items: center;
  display: flex;
  padding: 0 0.5rem calc(0.75 * var(--reading-zone-height)) 0.5rem;
  position: absolute;
  top: 1rem;
}

/* header */

.header-container {
  left: 0;
  justify-content: left;
}

.header::after {
  content: "home";
}

/* buttons */

.button-container {
  gap: 1rem;
  justify-content: right;
  right: 0;
}
 
/* add some text for the theme-toggler */

.theme-toggle::after {
  content: "theme";
}

/* hide table of contents */

.toc:first-of-type {
  display: none;
}

/* tablets, same behaviour as mobiles: fingers are more nimble than the mouse */

@media (min-width: 768px) {}

/* laptops, big screens */

@media (min-width: 1200px) {

  :root {
    --reading-zone-height: 10rem;
  }

  main {
    padding: var(--reading-zone-height) 0;
  }

  .header-container,
  .button-container {
    min-width: 25%;
    opacity: 0;
    padding: 0 0 calc(0.75 * var(--reading-zone-height)) 0;
    transition: all 1s;
  }

  .header-container:hover,
  .button-container:hover {
    opacity: 1;
  }

}
