/* variables */

:root {
  --main-width: 1200px;
  --footer-height: 75px;
  --header-height: 300px;
  --header-size: 150px;
  --random-image: url("https://source.unsplash.com/random/1200x600/?forest");
  --toc-height: 50px;
}

.light {
  --filigrane: rgb(246, 248, 250, 0.8);
}

.dark {
  --filigrane: rgb(22, 27, 34, 0.8);
}

.dimmed {
  --filigrane: rgb(45, 51, 59, 0.8);
}

/* general */

body {
  margin: 0;
}

/* making sure the footer is at the bottom even if the content is short */

main {
  margin: 1px auto 0 auto;
  max-width: var(--main-width);
  min-height: calc(100vh - 2rem - var(--footer-height));
  padding: 0 0.5rem;
  position: relative;
  text-align: justify;
  text-justify: inter-word;
}

/* header */

main::before {
  background-color: var(--background-color);
  background-image: var(--random-image);
  background-position: center;
  border-radius: 0 0 5px 5px;
  content: " ";
  display: block;
  height: var(--header-height);
  margin-bottom: 2rem;
  overflow: hidden;
}

/* footer position is absolute, little margin trick to make it count in the flow */

main::after {
  background-color: var(--background-color);
  background-image: var(--random-image);
  background-position: center;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  content: " ";
  display: block;
  height: var(--footer-height);
  margin-bottom: calc(-2rem - var(--footer-height));
  overflow: hidden;
  position: absolute;
  width: calc(100% - 1rem);
}

/* scroll indicator */

#scroll-indicator {
  margin-left: 0;
}

/* general style for the header and buttons */

.header-container,
.button-container {
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1rem;
}

.header-container:focus,
.header-container:hover,
.button-container:focus,
.button-container:hover {
  background-color: var(--filigrane);
}

.header-container a:focus,
.header-container a:hover,
.button-container a:focus,
.button-container a:hover {
  text-decoration: none;
}

/* add some kind of logo as header, abusing font awesome icons */

.header-container {
  height: var(--header-size);
  left: 1rem;
  width: var(--header-size);
}

.header::after {
  align-items: center;
  content: "\f4fb";
  display: flex;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
  font-size: calc(0.75 * var(--header-size));
  font-weight: 900;
}

/* buttons */

.button-container {
  gap: 1rem;
  min-width: 2rem;
  padding: 0 0.5rem;
  right: 1rem;
}

.button-container a:focus,
.button-container a:hover {
  font-weight: bold;
}

/* add an icon for the theme-toggler */

.theme-toggle::after {
  content: "\f042";
  font-family: "Font Awesome 5 Free";
  font-size: 120%;
  font-weight: 900;
  text-align: center;
  width: 2rem;
}

/* table of contents: show only the highest titles */

.toc:first-of-type {
  background-color: var(--filigrane);
  border-radius: 0 0 5px 5px;
  height: var(--toc-height);
  margin-top: calc(-2rem - var(--toc-height));
  overflow: auto;
  white-space: nowrap;
}

.toc:first-of-type a,
.toc:first-of-type a:focus,
.toc:first-of-type a:hover {
  text-decoration: none;
}

.toc:first-of-type ul {
  align-items: center;
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toc:first-of-type ul li {
  align-items: center;
  border-color: transparent;
  border-style: solid;
  border-width: 6px 0 3px 0;
  display: flex;
  height: 100%;
  padding: 0 1rem;
}

.toc:first-of-type ul li:focus,
.toc:first-of-type ul li:hover {
  border-color: transparent transparent var(--link-color) transparent;
  font-weight: bold;
  overflow: visible;
}

.toc:first-of-type ul li ul {
  display: none;
}

/* tablets, same behaviour as mobiles: fingers are more nimble than the mouse */

@media (min-width: 768px) {}

/* laptops, big screens */

@media (min-width: 1200px) {

  main {
    padding: 0;
  }

  .toc:first-of-type {
    overflow: hidden;
    padding: 0 1rem;
  }

  .toc:first-of-type ul {
    align-content: stretch;
  }

  .toc:first-of-type ul li {
    overflow: hidden;
  }

  .toc:first-of-type ul li:last-child {
    margin-right: 1rem;
  }

  .toc:first-of-type ul li:last-child:focus,
  .toc:first-of-type ul li:last-child:hover {
    margin-right: 0;
  }

}
