/* variables */

:root {
  --body-width: 1200px;
  --footer-height: 75px;
  --header-height: 300px;
  --logo-size: 150px;
  --random-image: url("https://source.unsplash.com/random/1200x600/?forest");
  --toc-height: 50px;
}

.light {
  --filigrane: rgb(246, 248, 250, 0.8);
}

.dark {
  --filigrane: rgb(22, 27, 34, 0.8);
}

.dark_dimmed {
  --filigrane: rgb(45, 51, 59, 0.8);
}

/* making sure the footer is at the bottom even if the content is short */

body {
  margin: 0 auto;
  max-width: var(--body-width);
  min-height: calc(100vh - 2rem - var(--footer-height));
  padding: 0 0.5rem;
  position: relative;
}

/* header */

body::before {
  background-color: var(--background-color);
  background-image: var(--random-image);
  background-position: center;
  border-radius: 0 0 10px 10px;
  content: ' ';
  display: block;
  height: var(--header-height);
  margin-bottom: 2rem;
  overflow: hidden;
}

/* footer position is absolute, little margin trick to make it count in the flow */

body::after {
  background-color: var(--background-color);
  background-image: var(--random-image);
  background-position: center;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  content: ' ';
  display: block;
  height: var(--footer-height);
  margin-bottom: calc(-2rem - var(--footer-height));
  overflow: hidden;
  position: absolute;
  width: calc(100% - 1rem);
}

/* add a logo, demonstrating the use of font awesome icons */

.logo {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: var(--logo-size);
  position: absolute;
  left: 2rem;
  top: 1rem;
  width: var(--logo-size);
}

.logo:focus,
.logo:hover {
  background-color: var(--filigrane);
  text-decoration: none;
}

.logo::after {
  content: "\f4fb";
  font-family: "Font Awesome 5 Free";
  font-size: calc(0.75 * var(--logo-size));
  font-weight: 900;
  text-align: center;
  width: var(--logo-size);
}

/* replace the text from the theme-toggler by an icon */

.theme-toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;
  visibility: hidden;
}

.theme-toggle:focus:after,
.theme-toggle:hover:after {
  background-color: var(--filigrane);
}

.theme-toggle::after {
  border-radius: 10px;
  content: "\f042";
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  font-weight: 900;
  right: 1rem;
  position: absolute;
  text-align: center;
  visibility: visible;
  width: 2rem;
}

/* table of contents: show only the highest titles */

.toc {
  background-color: var(--filigrane);
  border-radius: 0 0 10px 10px;
  height: var(--toc-height);
  margin-top: calc(-2rem - var(--toc-height));
  overflow: auto;
  white-space: nowrap;
}

.toc a,
.toc a:focus,
.toc a:hover {
  text-decoration: none;
}

.toc ul {
  align-items: center;
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toc ul li {
  align-items: center;
  border-color: transparent;
  border-style: solid;
  border-width: 6px 0 3px 0;
  display: flex;
  height: 100%;
  padding: 0 1rem;
}

.toc ul li:focus,
.toc ul li:hover {
  border-color: transparent transparent var(--link-color) transparent;
  font-weight: bold;
  overflow: visible;
}

.toc ul li ul {
  display: none;
}

/* tablets, same behaviour as mobiles: fingers are nimbler than the mouse */

@media (min-width: 768px) {}

/* laptops, big screens */

@media (min-width: 1200px) {

  body {
    padding: 0;
  }

  .toc {
    overflow: hidden;
    padding: 0 1rem;
  }

  .toc ul {
    align-content: stretch;
  }

  .toc ul li {
    overflow: hidden;
  }

  .toc ul li:last-child {
    margin-right: 1rem;
  }

  .toc ul li:last-child:focus,
  .toc ul li:last-child:hover {
    margin-right: 0;
  }

}
