<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- metatags -->
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta property="article:author" content="{{ author }}">
    <meta property="article:published_time" content="{{ date }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">
    <link rel="canonical" href="{{ canonical or url }}">
    <link rel="icon" href="#" type="image/png">

    <!-- styling and color scheme -->
    <link rel="stylesheet" href="{{ http }}/style.css">
    {% if path != "" %}
    <link rel="stylesheet" href="style.css">
    {% endif %}

    <!-- theme toggler -->
    <script>
      function setTheme(name) {
        localStorage.setItem("theme", name);
        document.documentElement.className = name;
      }

      function toggleTheme() {
        if (localStorage.getItem("theme") === "light") {
          setTheme("dark");
        } else if (localStorage.getItem("theme") === "dark") {
          setTheme("dimmed");
        } else {
          setTheme("light");
        }
      }

      if (
        localStorage.getItem("theme") === "dark" ||
        (
          !("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches
        )
      ) {
        setTheme("dark");
      } else if (localStorage.getItem("theme") === "dimmed") {
        setTheme("dimmed");
      } else {
        setTheme("light");
      }
    </script>

    <!-- progress indicators (progress bar, section and content) -->
    <script>
      var timer;

      // scroll events, mostly throttled
      window.addEventListener("scroll", () => {
        const scroller = document.querySelector("#scroller"),
              nav = document.querySelector("nav"),
              aside = document.querySelector("#toc"),
              article = document.querySelector("article");

        // hide/reduce all
        if (scroller.getBoundingClientRect().top > 0) {
          scroller.style.width = "0";
          document.querySelectorAll("aside, article").forEach(a => {
            let className = a.className.match(/visible-[a-z]+-sidebar/) || "";
            if (className.length > 0) a.classList.remove(className);
          });
          aside.scrollTop = 0;
        }
        
        // process the event
        else {

          // update the progress bar
          {% if path == "" and splash != "nosplash" and splash != "" %}
          let currentScrollY = window.scrollY - window.innerHeight,
          {% else %}
          let currentScrollY = window.scrollY,
          {% endif %}
              overallScrollY = nav.offsetHeight + article.offsetHeight - window.innerHeight;

          scroller.style.width = 100 * Math.min(currentScrollY / overallScrollY, 1) + "%";
          
          // makes sure we stopped scrolling before doing the stuff below
          // cancel the timer and start a new one when a new event comes
          if (timer !== null) clearTimeout(timer);
            
          // wait 150 ms before updating the history
          timer = setTimeout(() => {
            const titles = article.querySelectorAll("h1, h2, h3, h4, h5, h6");
            
            // update url hash according to visited section
            for (let i = 0; i < titles.length; i++) {
              if (titles[i].getBoundingClientRect().top - parseInt(getComputedStyle(document.documentElement).scrollMarginTop) - 1 > 0) {
            
                // if scrolled back to top we can remove any hashtag
                if (i === 0) {
                  history.pushState({}, "", window.location.pathname);
                }
            
                // identifying the next section defines the currently browsed one
                else {
                  history.pushState({}, "", `#${titles[i - 1].id}`);
                }
            
                // no need to go any further
                break;
              }
            }
            
            // highlight current item in the table of contents
            aside.querySelectorAll("a").forEach(a => {
              let href = a.getAttribute("href");

              if (href.startsWith("#")) {
                if (href === window.location.hash) {
                  a.classList.add("active");
                  if (
                    a.offsetTop < aside.scrollTop + nav.offsetHeight ||
                    a.offsetTop > window.innerHeight - nav.offsetHeight
                  ) {
                    aside.scrollTop = a.offsetTop - 2*nav.offsetHeight;
                  }
                } else {
                  a.classList.remove("active");
                }
              }
            });
          
          }, 150);

        }

      });

      // onload actions (deferred otherwise no elements to loop over)
      window.onload = () => {
        const nav = document.querySelector("nav"),
              aside = document.querySelector("#toc"),
              links = aside.querySelectorAll("a"),
              path = window.location.pathname.replace(/^[/]|[/]$/g, ""),
              hash = window.location.hash;

        // add click action on each link
        links.forEach(a => {
          a.setAttribute("onclick", "toggleSidebar('#toc')");
        });

        // build list of links (needed for the preceding/following content)
        const sectionLinks = [],
              contentLinks = [];

        links.forEach(a => {
          if (!a.getAttribute("href").startsWith("#")) {
            sectionLinks.push(a);
          } else {
            contentLinks.push(a);
          }
        });

        // highlight in table of contents and set preceding/following contents
        sectionLinks.forEach((a, i) => {
          let href = a.getAttribute("href").replace(/^[/]|[/]$/g, "");

          // no break capabilities for a forEach
          if (href === path) {

            // highlight current item in the table of contents
            a.classList.add("active");
            if (
              a.offsetTop < aside.scrollTop + nav.offsetHeight ||
              a.offsetTop > window.innerHeight - nav.offsetHeight
            ) {
              aside.scrollTop = a.offsetTop - 2*nav.offsetHeight;
            }

            // update the preceding content
            if (i > 0) {
              const prev_a = sectionLinks[i - 1],
                    button = document.querySelector("#prev");

              localStorage.setItem("prev-content", prev_a.href);

              button.href = prev_a.href;
              button.text = prev_a.text;
            }

            // update the following content
            if (i < sectionLinks.length - 1) {
              const next_a = sectionLinks[i + 1],
                    button = document.querySelector("#next");

              localStorage.setItem("next-content", next_a.href);

              button.href = next_a.href;
              button.text = next_a.text;
            }

          }
        });

        // highlight current item in the table of contents
        contentLinks.forEach(a => {
          if (a.getAttribute("href") === hash) {
            a.classList.add("active");
            if (
              a.offsetTop < aside.scrollTop + nav.offsetHeight ||
              a.offsetTop > window.innerHeight - nav.offsetHeight
            ) {
              aside.scrollTop = a.offsetTop - 2*nav.offsetHeight;
            }
          } else {
            a.classList.remove("active");
          }
        });

      }
    </script>

    <!-- old-school navigation -->
    <script>
      // keyboard events, triggered only if the splash screen has been scrolled entirely
      window.addEventListener("keyup", (event) => {
        const scroller = document.querySelector("#scroller"),
              key = event.key;

        // toggle sidebars or navigate to preceding/following content
        if (scroller.getBoundingClientRect().top === 0 && event.srcElement.tagName === "BODY") {
          if (key === "<") {
            window.location.href = localStorage.getItem("prev-content") || "";
          } else if (key === ">") {
            window.location.href = localStorage.getItem("next-content") || "";
          } else if (key === ".") {
            toggleSidebar("#toc");
          } else if (key === "?") {
            toggleSidebar("#search");
          }
        }
        
        // unfocus from input elements
        if (event.srcElement.tagName === "INPUT" && key === "Escape") event.srcElement.blur();
        
      });
    </script>

    <!-- show/hide sidebar -->
    <script>
      function toggleSidebar(asideSelector, focusElement = undefined) {
        const scroller = document.querySelector("#scroller"),
              aside = document.querySelector(`aside${asideSelector}`),
              naside = document.querySelector(`aside:not(${asideSelector})`),
              article = document.querySelector("article");

        // skip the splash screen if needed
        if (scroller.offsetTop > 0) window.scroll(0, scroller.offsetTop);

        // hide the other sidebar, if shown
        if (naside.classList.contains("visible-sidebar")) {
          naside.classList.remove("visible-sidebar");
          article.classList.remove("visible-sidebar");
        }

        // hide/show sidebar
        if (aside.classList.contains("visible-sidebar")) {
          aside.classList.remove("visible-sidebar");
          article.classList.remove("visible-sidebar");
          focusElement = undefined; // unfocus search field
        } else {
          aside.classList.add("visible-sidebar");
          article.classList.add("visible-sidebar");
        }

        // focus on the given element, if provided
        if (focusElement !== undefined) {
          document.querySelector(focusElement).focus();
        } else {
          document.activeElement.blur();
        }

      }
    </script>

    <!-- search via lunr; json corpus will be cached after first query -->
    <script>
      function lunrSearch() {
        fetch("{{ http }}/index.json")
          .then(response => response.json())
          .then(data => {
            const prose = data.documents,
                  index = lunr.Index.load(data.indexed),
                  results = [],
                  input = document.querySelector("#search-input").value,
                  output = document.querySelector("#search-output");

            if (input.length > 2) {

              // no results yet
              output.innerHTML = `<li>No results for "<i>${input}</i>" in current corpus.</li>`;

              // find them results
              index.search(input).forEach(match => {
                const path = prose[match.ref][0],
                      title = prose[match.ref][1],
                      text = prose[match.ref][2],
                      score = parseFloat(match.score).toFixed(3);

                let crumbs = "";

                // this became much more cumbersome than expected...
                if (path === "") {
                  if (title !== "") {
                    crumbs = "";
                  } else {
                    crumbs = "/"
                  }
                } else {
                  if (title !== "") {
                    crumbs = `${path}/`.replaceAll("/", " &gt; ");
                  } else {
                    crumbs = path.replaceAll("/", " &gt; ");
                  }
                }

                // add an entry for each result
                // we might want to limit that at some point...
                Object.keys(match.matchData.metadata).forEach(attr => {
                  match.matchData.metadata[attr].text.position.forEach(arr => {
                    const li = document.createElement("li"),
                          pos = parseInt(arr[0]),
                          len = parseInt(arr[1]);
                 
                    li.innerHTML = `
                      <a class="search-result" href="{{ http }}/${match.ref}" onclick="toggleSidebar('#search')">
                        <div class="title">${crumbs}${title}</div>
                        <div class="text">
                          ${text.slice(Math.max(0, pos - 100), pos)}
                          <mark>${text.slice(pos, pos + len)}</mark>
                          ${text.slice(pos + len, Math.min(pos + len + 100, text.length))}
                          <span class="score">${score}</span>
                        </div>
                      </a>
                    `;
                 
                    results.push(li);
                  });
                });

              });

              if (results.length > 0) output.replaceChildren(...results);

            } else {
              output.replaceChildren();
            }

          });
      }

      // reset search: flush input/output and focus
      function resetSearch() {
        const input = document.querySelector("#search-input"),
              output = document.querySelector("#search-output");

        input.value = "";
        input.focus();

        output.replaceChildren();
      }
    </script>

    <!-- external javascript libraries -->
    {% if highlight %}
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"
      onload="hljs.highlightAll()"
    ></script>
    {% endif %}
    {% if katex %}
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/katex.min.js"
    ></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/contrib/auto-render.min.js"
      onload="renderMathInElement(
        document.body,
        {
          delimiters: [
            {
              left: '$$',
              right: '$$',
              display: true
            },
            {
              left: '$',
              right: '$',
              display: false
            },
          ]
        }
      )"
    ></script>
    {% endif %}
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"
    ></script>
    {% if mermaid %}
    <script>
      // mermaid is so cumbersome to theme...
      function mermaidInitialize() {
        const computedStyle = getComputedStyle(document.documentElement),
              backgroundColor = computedStyle.getPropertyValue("--background-color"),
              backgroundColorAlt = computedStyle.getPropertyValue("--background-color-alt"),
              fontColor = computedStyle.getPropertyValue("--font-color"),
              fontFamily = computedStyle.getPropertyValue("--font-family"),
              fontSize = computedStyle.getPropertyValue("--font-size"),
              linkColor = computedStyle.getPropertyValue("--link-color");
        
        // just the minimum (for flowcharts)
        mermaid.initialize({
          theme: "base",
          themeVariables: {
            fontFamily: fontFamily,
            fontSize: fontSize,
            lineColor: fontColor,
            primaryColor: backgroundColorAlt,
            primaryBorderColor: fontColor,
            primaryTextColor: fontColor
          }
        });
      }
    </script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"
      onload="mermaidInitialize()"
    ></script>
    {% endif %}

  </head>

  <body>
      
    <!-- buttons -->
    <nav>
      <div class="buttons">
        <a class="button sidebar" onclick="toggleSidebar('#toc')"></a>
        <a class="button search" onclick="toggleSidebar('#search', '#search-input')"></a>
        <span class="spacer"></span>
        {% if path != "" %}
        <a class="logo" href="{{ http }}"><img src="{{ logo }}"></a>
        {% endif %}
        <span class="spacer"></span>
        <a class="button repo" href="{{ repo }}"></a>
        <a class="button theme" onclick="toggleTheme()"></a>
      </div>
    </nav>

    {% if path == "" and splash != "nosplash" and splash != "" %}
    <!-- splash screen -->
    <header>
      <img src="{{ splash }}">
      <span class="title">{{ title }}</span>
      <span class="description">{{ description }}</span>
      <span>
        <a href="{{ repo }}">GitHub</a>
        <a onclick="window.scroll(0, document.querySelector('#scroller').getBoundingClientRect().top)">Documentation</a>
      </span>
    </header>
    {% endif %}

    <!-- show scrolling progress -->
    <div id="scroller"></div>

    <main>
      
      <!-- tables of contents -->
      <aside id="toc">{{ contents }}</aside>
      
      <!-- search functionalities -->
      <aside id="search">
        <div class="search-field">
          <span class="button search" onclick="document.querySelector('#search-input').focus()"></span>
          <input autocomplete="off" id="search-input" onkeyup="lunrSearch()" placeholder="search with lunr" type="text">
          <span class="button reset" onclick="resetSearch()"></span>
        </div>
        <ul id="search-output"></ul>
      </aside>
      
      <!-- actual content and preceding/following contents -->
      <article>
        <div class="maintext">{{ article }}</div>
        <span class="spacer"></span>
        <div class="prevnext">
          <a id="prev"></a>
          <span class="spacer"></span>
          <a id="next"></a>
        </div>
      </article>

    </main>

  </body>

</html>
